@import url(https://fonts.googleapis.com/css?family=Roboto);

html, 
body, 
.map-canvas {
	/*position:fixed;*/
	height:100%;
	max-width:100%;
  padding:0,0,0,0;
  margin:0;
}

body {
  font-family: 'Roboto', sans-serif;
}

a#menu svg {
  width: 40px;
  fill: #000;
}

nav, main {
  /*padding: 1em;*/
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100%;
}

nav {
  width: 250px;
  height: 100%;
  position: absolute;
  /* This trasform moves the drawer off canvas. */
  -webkit-transform: translate(-250px, 0);
  transform: translate(-250px, 0);
  /* Optionally, we animate the drawer. */
  transition: transform 0.3s ease;
}

nav.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

/* If there is enough space (> 600px), we keep the drawer open all the time. */
@media (min-width: 600px) {

  /* We open the drawer. */
  nav {
    position:relative;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* We use Flexbox on the parent. */
  body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
  }

  main {
    width: auto;
    /* Flex-grow streches the main content to fill all available space. */
    flex-grow: 1;
  }
}

/* If there is space (> 800px), we keep the drawer open by default. */
@media (min-width: 600px) {
  main p, nav p {
    /*text-decoration: line-through;*/
  }
}
.list-group-item {
  margin: 0;
}
.title {
  font-size: 2.5em;
  text-align: center;
}

.box {
  min-height: 150px;
}

.dark_blue {
  background-color: #2A457A;
  color: #efefef;
}

.light_blue {
  background-color: #099DD9;
}

.green {
  background-color: #0C8542;
}

.lime {
  background-color: rgb(179, 210, 52);
}

.seafoam {
  background-color: rgb(77, 190, 161);
}

.red {
  background-color: #EC1D3B;
}

.orange {
  background-color: #F79420;
}

.place-list {
  width: 200px;
  margin: 25px;
}

h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  /*border-bottom: 1px solid;*/
}
li p {
  font: 150 15px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid; 
}
li:last-child {
  border: none;
}
 
li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}
/*.container {
	width: 100%;
	height: 100%;
	margin: 0 
	auto;
}*/
            
/*.place-list {
	display: block;
	margin-right: 20%;	
	padding:0 0 0;
	height:100%;
	overflow-y:auto;
	z-index:9;
	position:fixed;
	top:0;
	left:0;
	width:230px;
	background-color:(245, 245, 245, 0);
}*/

/*.search-place {
	height: 33px;
	width: 230px
}*/
.search-place input {
		width: 100%;
}