/*-----Prevents iPhone from resizing in landscape mode -----*/
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  height: 100%;
  min-height: 100%; }

body {
  margin: 0;
  display: flex;
  flex-direction: column; }

header {
  z-index: 0;
  flex: 0 64px;
  display: flex;
  width: 100%;
  background: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24); }
  header .branding, header .InputAddOn {
    display: flex;
    align-items: center; }
  header .branding {
    flex: 0 0 256px;
    order: 0;
    justify-content: flex-start; }
    header .branding img {
      max-height: 32px;
      max-width: 175px; }
  header .InputAddOn {
    flex: 1;
    border-right-width: 1px;
    margin-right: 10px;
    font-size: 20px;
    line-height: 24px;
    justify-content: center; }
  header .InputAddOn-field {
    flex: 1; }
  header .InputAddOn-item {
    background-color: rgba(147, 128, 108, 0.1);
    color: #666666;
    font: inherit;
    font-weight: normal; }
  header .InputAddOn-field,
  header .InputAddOn-item {
    border: 1px solid rgba(147, 128, 108, 0.25);
    padding: 0.5em 0.75em; }
  header .InputAddOn-field:first-child,
  header .InputAddOn-item:first-child {
    border-radius: 2px 0 0 2px; }
  header .InputAddOn-field:last-child,
  header .InputAddOn-item:last-child {
    border-radius: 0 2px 2px 0; }

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin: 8px; }
  .menu-button:hover {
    background: rgba(0, 0, 0, 0.08);
    cursor: pointer; }

.flexbox-container {
  flex: 1;
  display: flex; }
  .flexbox-container .map-canvas {
    flex: 1; }
  .flexbox-container nav {
    background: #FAF9F8;
    flex: 0 0 256px;
    overflow: auto;
    border-right: 1px solid #d9d9d9; }
    .flexbox-container nav .branding,
    .flexbox-container nav .title-block {
      height: 64px;
      display: flex;
      align-items: center;
      padding: 0 24px; }
      .flexbox-container nav .branding img,
      .flexbox-container nav .title-block img {
        max-height: 32px;
        max-width: 175px; }
    .flexbox-container nav ul {
      list-style-type: none;
      padding-left: 10px; }
      .flexbox-container nav ul li {
        font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
        border-bottom: 1px solid #ccc; }
      .flexbox-container nav ul li:last-child {
        border: none; }
      .flexbox-container nav ul li .capital {
        font: 200 15px/1.0 Helvetica, Verdana, sans-serif; }

@media (min-width: 800px) {
  .branding {
    padding: 0 24px; }
  .menu-toggle {
    display: none; }
  nav .title-block {
    display: none; } }

@media (max-width: 800px) {
  order: 0;
  header .branding,
  header {
    flex: 0 0 64px; }
  nav {
    position: absolute;
    top: 0;
    left: -256px;
    width: 256px;
    height: 100%;
    display: block;
    transition: all 0.2s ease;
    overflow: auto;
    z-index: 1; }
    nav.open {
      left: 0;
      box-shadow: 2px 0 8px rgba(0, 0, 0, 0.24); } }

.icon-container {
  margin-top: 10px; }

.icon-container .icon {
  height: 64px;
  width: 64px;
  display: inline-block;
  vertical-align: middle; }

.icon-container .content {
  display: inline-block;
  vertical-align: middle; }

figure {
  display: block;
  background: #cdf;
  width: 90%;
  max-width: 50em;
  box-sizing: border-box;
  margin: 1em auto;
  padding: 0.5em 1em;
  border: solid thin navy; }

figure:nth-of-type(2n) {
  background: #bfc; }

figcaption, figure > div {
  display: block;
  vertical-align: middle; }

figure > div {
  text-align: center; }

img, svg, .bg-svg {
  border: none; }

svg.defs-only {
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden; }
