@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300);

/*-----Prevents iPhone from resizing in landscape mode -----*/
html {-webkit-text-size-adjust: none; }

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body, html,

#map-canvas {
	position:fixed;
	height:100vh;
	width:100vw;
}
#container {width: 100%; height: 100%;margin: 0 auto;}
            
.place-list
  {
	display: block;
	margin-right: 20%;	
	padding:0px 0px 0px;
	height:100%;
	overflow-y:auto;
	z-index:9;
	position:fixed;
	top:0;
	left:0;
	width:230;
	background-color:(245, 245, 245, 0);
	input {
		width: 100%;
	}
}

.search-place {
	height: 33px;
	// margin-right: 20%;	
	input {
		width: 100%;
	}
}

