// @import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

/*-----Prevents iPhone from resizing in landscape mode -----*/

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
    box-sizing: border-box;
}

html, body {
    margin:0;
    height:100%;
    min-height:100%;
}

body {
    margin:0;
    display: flex;
    flex-direction: column;
}
header { 
    z-index: 0;
    flex: 0 64px;
    display: flex;
  	width: 100%;
    background: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
	
    .branding, .InputAddOn {
        display: flex;
        align-items: center;
    }

    .branding {
        flex: 0 0 256px;
        order: 0;
        justify-content: flex-start;

        img {
            max-height: 32px;
            max-width: 175px;
        }
    }
	
	.InputAddOn {
		flex:1;
		border-right-width: 1px;
		margin-right:10px;
		font-size: 20px;
		line-height: 24px;
		justify-content: center;
	}
	.InputAddOn-field {
		flex: 1;
	}

	.InputAddOn-item {
	background-color: rgba(147, 128, 108, 0.1);
	color: #666666;
	font: inherit;
	font-weight: normal;
	}

	.InputAddOn-field,
	.InputAddOn-item {
	border: 1px solid rgba(147, 128, 108, 0.25);
	padding: 0.5em 0.75em;
	}
	.InputAddOn-field:first-child,
	.InputAddOn-item:first-child {
	border-radius: 2px 0 0 2px;
	}
	.InputAddOn-field:last-child,
	.InputAddOn-item:last-child {
	border-radius: 0 2px 2px 0;
	}
}

.menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin: 8px;

    &:hover {
        background: rgba(0,0,0,0.08);
        cursor: pointer;
    }
}

.flexbox-container {
	flex:1;
	display: flex;
    
        .map-canvas {
            flex: 1;
        }
        nav {
            background: #FAF9F8;
            flex: 0 0 256px;
            overflow: auto;
            // order: 2;
            border-right: 1px solid #d9d9d9;
        
            .branding,
            .title-block {
                height: 64px;
                display: flex;
                align-items: center;
                padding: 0 24px;
                
                img {
                    max-height: 32px;
                    max-width: 175px;
                }
            }
            
            ul {
            list-style-type: none;
            padding-left:10px;
            
            li {
            font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
            border-bottom: 1px solid #ccc;
            }
            
            li:last-child {
            border: none;
            }
            
            li .capital {
                font: 200 15px/1.0 Helvetica, Verdana, sans-serif;
            }
        }   
    }
}

@media (min-width: 800px) {
    .branding {
        padding: 0 24px;
    }
    .menu-toggle {
        display: none;
    }
    
    nav .title-block {
        display: none;
    }
}

@media (max-width: 800px) {
    order:0;

    header .branding,
    header {
        flex: 0 0 64px;
    }
    
    nav {
        position: absolute;
        top: 0;
        left: -256px;
        width: 256px;
        height: 100%;
        display: block;
        transition: all 0.2s ease;
        overflow: auto;
        z-index: 1;
        
        &.open {
            left: 0;
            box-shadow: 2px 0 8px rgba(0,0,0,0.24);
        }
    } 
}

.icon-container {
   margin-top: 10px;
}

.icon-container .icon {
    height: 64px;
    width: 64px;
    display: inline-block;
    vertical-align: middle;
}
.icon-container .content {
    display: inline-block;
    vertical-align: middle;
}
// svg css
figure {
    display: block;
    background: #cdf;
    width: 90%;
    max-width: 50em;
    box-sizing: border-box;
    margin: 1em auto;
    padding: 0.5em 1em;
    border: solid thin navy;
}
figure:nth-of-type(2n) {
    background: #bfc;
}
figcaption, figure > div {
    display: block;
    vertical-align: middle;
}
figure > div {
    text-align: center;
}
img, svg, .bg-svg {
    border: none;
}
svg.defs-only {
    display:block; position: absolute; 
    height:0; width:0; margin: 0; padding: 0; 
    border: none; overflow: hidden;
}